In [99]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy import select
from sqlalchemy import MetaData
from sqlalchemy import update
from sqlalchemy import Table, Column, String
import pandas as pd

pd.get_option("display.max_columns")
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [100]:
DBUSER = 'postgres'
DBPASS = 'ivan'
DBHOST = 'localhost'
DBPORT = '5432'
DBNAME = 'thinkia_updated'

In [101]:
engine = create_engine('postgresql+psycopg2://{user}:{passwd}@{host}:{port}/{db}'.format(user=DBUSER, passwd=DBPASS, host=DBHOST, port=DBPORT, db=DBNAME))
connection = engine.connect()

In [102]:

Session = sessionmaker(engine)
session = Session()

In [103]:
# Create a MetaData instance
metadata = MetaData()
metadata.reflect(bind=engine)
for table in metadata.sorted_tables:
    print(table)

# film_table = Table('users', metadata, Column('name'))

abreviatura
contacto
estado_registro
failed_jobs
iniciativa_actor
iniciativa_informacion
iniciativa_origen
material_categorias
material_tipodocumentos
migrations
nivel_solucion
objetivosdesarrollo
ods_categorias
password_resets
provincia
roles
sector_solucion
tipo_convocatoria
tipo_institucion
tipo_poblacion
tipo_propuestas
canton
tipo_sector
parroquia
perfil
tipo_subsector
users
convocatorias
eventos
fondos
iniciativas
materialesaprendizaje
role_user
articulos
convocatorias_ods
convocatorias_sectores
convocatorias_subsectores
iniciativa_contacto
iniciativa_institucion
iniciativa_ods
iniciativa_poblacion
iniciativa_ubicacion
material_comentarios
problemas
soluciones
solucion_comentarios
solucion_mejorada
solucion_observaciones
solucion_rating
soluciontipoinnovas

In [105]:
emp = Table('iniciativa_actor', metadata, autoload=True, autoload_with=engine)
results = connection.execute(select([emp])).fetchall()
df = pd.DataFrame(results)
df.columns = results[0].keys()
df.head(5)

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
0,1,NANAY,NANAY,https://nanay.app/Home/About,Creamos canales de comunicación entre los dife...,2020-12-05 10:21:38,2020-12-05 10:21:38,None
1,3,FUNDAPI,None,https://www.fundapi.org/,Somos una organización ecuatoriana sin fines d...,2020-12-05 11:32:57,2020-12-05 11:32:57,None
2,4,GAD CARCHI,CARCHI,https://carchi.gob.ec/gob_electronico/,Administrar de forma eficiente los recursos te...,2020-12-05 11:39:34,2020-12-05 11:39:34,None
3,5,GAD PORTOVIEJO,None,https://online.portoviejo.gob.ec/,El GAD de Portoviejo ayuda a esta bella ciudad...,2020-12-05 11:50:32,2020-12-05 11:50:32,None
4,7,Kruger Labs,None,https://www.krugerlabs.com/,KrugerLabs es la aceleradora de negocios digit...,2020-12-07 14:51:31,2020-12-07 14:51:31,None

In [106]:
# Select duplicate rows except first occurrence based on all columns
duplicateRowsDF = df[df.duplicated(['nombre_organizacion'])]
duplicateRowsDF.head(5)

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
29,32,ConQuito,None,http://www.conquito.org.ec/,ConQuito fomenta el desarrollo productivo y so...,2020-12-19 20:35:41,2020-12-19 20:35:41,None
37,38,Universidad San Fransisco de Quito,USFQ,http://www.usfq.edu.ec/Paginas/Inicio.aspx,"La Universidad San Francisco de Quito, es una ...",2020-12-20 14:56:54,2020-12-20 14:56:54,None
38,39,Fundación Telefónica,None,https://fundaciontelefonica.com.ec/,"Entre otras labores, formula recomendaciones a...",2020-12-20 20:20:36,2020-12-20 20:20:36,None
41,42,Al Borde,None,https://www.albordearq.com/,Al Borde es un modo de vida... inicia sin quer...,2020-12-20 21:03:55,2020-12-20 21:03:55,None
45,46,Corporación para el Desarrollo del Emprendimie...,CODEIS,https://www.somoscodeis.org/,CODEIS es una empresa social que empodera y pr...,2020-12-20 21:39:19,2020-12-20 21:39:19,None

In [107]:
duplicateRows = df.groupby('nombre_organizacion').nombre_organizacion.count()
duplicateRows.sort_values(ascending=False).head(20)
# duplicateRows.shape

nombre_organizacion
CORPEI                                                     5
Fundación Heifer Ecuador                                   5
Escuela Politécnica Nacional                               5
Grupo faro                                                 5
Alianza para el Emprendimiento e Innovación                4
Gobierno Autónomo Descentralizado Municipal de Riobamba    4
Laboratorio Urbano de Latacunga                            3
KRADAC                                                     3
Fundación Educativa Rada                                   3
Fundación Imaymana                                         3
Maquita                                                    3
Fundación Alas de Colibrí                                  3
QUID Ecuador                                               3
Fundación Esquel                                           3
Pan American Development Foundation - Ecuador              3
Fundación Pachamama                                        3
Escuela Superior Politécnica del Litoral (ESPOL)           3
Dialogo Diverso                                            3
AgroScan                                                   3
NEO - Ciencia, Tecnología, Sostenibilidad                  3
Name: nombre_organizacion, dtype: int64

In [108]:
is_org = df['nombre_organizacion'] == 'Fundación Heifer Ecuador'
depu = df[is_org]
depu

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
191,199,Fundación Heifer Ecuador,None,https://www.heifer-ecuador.org/,Mediante la labor comunitaria por erradicar el...,2021-03-05 07:40:28,2021-03-05 07:40:28,None
192,200,Fundación Heifer Ecuador,None,https://www.heifer-ecuador.org/,Mediante la labor comunitaria por erradicar el...,2021-03-05 07:48:37,2021-03-05 07:48:37,None
193,201,Fundación Heifer Ecuador,None,https://www.heifer-ecuador.org/,Mediante la labor comunitaria por erradicar el...,2021-03-05 07:52:32,2021-03-05 07:52:32,None
194,202,Fundación Heifer Ecuador,None,https://www.heifer-ecuador.org/,Mediante la labor comunitaria por erradicar el...,2021-03-05 07:55:20,2021-03-05 07:55:20,None
195,203,Fundación Heifer Ecuador,None,https://www.heifer-ecuador.org/,Mediante la labor comunitaria por erradicar el...,2021-03-05 07:59:27,2021-03-05 07:59:27,None

In [132]:
# 199 Fundación Heifer Ecuador
appended_data = []
iniciativa = Table('iniciativas', metadata, autoload=True, autoload_with=engine)
results = connection.execute(select([iniciativa])).fetchall()
in_df = pd.DataFrame(results)
in_df.columns = results[0].keys()
org = [199, 200, 201, 202, 203]
for i in org:
    appended_data.append(in_df.loc[in_df['iniciativa_actor_id'] == i])
appended_data = pd.concat(appended_data)
appended_data

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
198,201,1,1,199.0,201,58,2021-03-05 07:40:28,2021-03-05 07:40:28,NaT
199,202,1,1,200.0,202,58,2021-03-05 07:48:37,2021-03-05 07:48:37,NaT
200,203,1,1,201.0,203,58,2021-03-05 07:52:32,2021-03-05 07:52:32,NaT
201,204,1,1,202.0,204,58,2021-03-05 07:55:20,2021-03-05 07:55:20,NaT
202,205,1,1,203.0,205,58,2021-03-05 07:59:27,2021-03-05 07:59:27,NaT

In [135]:
for i in range (201, 206):
    query = update(iniciativa).values(iniciativa_actor_id = 199)
    query = query.where(iniciativa.columns.id == i)
    results = connection.execute(query)
    print(i)
results = connection.execute(select([iniciativa])).fetchall()
change_df = pd.DataFrame(results)
change_df.columns = results[0].keys()
change_df.loc[change_df['iniciativa_actor_id'] == 199]

201
202
203
204
205

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
239,203,1,1,199.0,203,58,2021-03-05 07:52:32,2021-03-05 07:52:32,NaT
240,205,1,1,199.0,205,58,2021-03-05 07:59:27,2021-03-05 07:59:27,NaT
241,202,1,1,199.0,202,58,2021-03-05 07:48:37,2021-03-05 07:48:37,NaT
353,201,1,1,199.0,201,58,2021-03-05 07:40:28,2021-03-05 07:40:28,NaT
354,204,1,1,199.0,204,58,2021-03-05 07:55:20,2021-03-05 07:55:20,NaT

In [136]:
# 141 CORPEI  
is_org = df['nombre_organizacion'] == 'CORPEI'
depu = df[is_org]
depu

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
139,141,CORPEI,None,https://corpei.org/,"CORPEI es una agencia privada, sin fines de lu...",2020-12-21 23:30:20,2020-12-21 23:30:20,None
243,258,CORPEI,None,https://corpei.org/la-institucion/,"CORPEI es una agencia privada, sin fines de lu...",2021-05-21 16:24:14,2021-05-21 16:24:14,None
245,260,CORPEI,None,https://corpei.org/category/latest-news/notici...,"CORPEI es una agencia privada, sin fines de lu...",2021-05-21 16:35:15,2021-05-21 16:35:15,None
246,261,CORPEI,None,https://corpei.org/la-institucion/,"CORPEI es una agencia privada, sin fines de lu...",2021-05-21 16:46:06,2021-05-21 16:46:06,None
247,262,CORPEI,None,https://corpei.org/,"CORPEI es una agencia privada, sin fines de lu...",2021-05-21 17:00:18,2021-05-21 17:00:18,None

In [139]:
# 141 CORPEI
appended_data = []
iniciativa = Table('iniciativas', metadata, autoload=True, autoload_with=engine)
results = connection.execute(select([iniciativa])).fetchall()
in_df = pd.DataFrame(results)
in_df.columns = results[0].keys()
org = [141, 258, 260, 261, 262]
for i in org:
    appended_data.append(in_df.loc[in_df['iniciativa_actor_id'] == i])
appended_data = pd.concat(appended_data)
appended_data

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
140,142,1,1,141.0,142,17,2020-12-21 23:30:20,2020-12-21 23:30:20,NaT
251,270,1,1,258.0,270,58,2021-05-21 16:24:14,2021-05-21 16:24:14,NaT
253,272,1,1,260.0,272,58,2021-05-21 16:35:16,2021-05-21 16:35:16,NaT
254,273,1,1,261.0,273,58,2021-05-21 16:46:06,2021-05-21 16:46:06,NaT
255,274,1,1,262.0,274,58,2021-05-21 17:00:18,2021-05-21 17:00:18,NaT

In [141]:
orga = [142, 270, 272, 273, 274]
for i in orga:
    query = update(iniciativa).values(iniciativa_actor_id = 141)
    query = query.where(iniciativa.columns.id == i)
    results = connection.execute(query)
    print(i)
results = connection.execute(select([iniciativa])).fetchall()
change_df = pd.DataFrame(results)
change_df.columns = results[0].keys()
change_df.loc[change_df['iniciativa_actor_id'] == 141]

142
270
272
273
274

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
319,272,1,1,141.0,272,58,2021-05-21 16:35:16,2021-05-21 16:35:16,NaT
320,273,1,1,141.0,273,58,2021-05-21 16:46:06,2021-05-21 16:46:06,NaT
321,274,1,1,141.0,274,58,2021-05-21 17:00:18,2021-05-21 17:00:18,NaT
353,142,1,1,141.0,142,17,2020-12-21 23:30:20,2020-12-21 23:30:20,NaT
354,270,1,1,141.0,270,58,2021-05-21 16:24:14,2021-05-21 16:24:14,NaT

In [142]:
# 83 Escuela Politécnica Nacional
is_org = df['nombre_organizacion'] == 'Escuela Politécnica Nacional'
depu = df[is_org]
depu

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
33,86,Escuela Politécnica Nacional,EPN,https://www.redineditaepn.com/wordpress/,La universidad establecida en la capital del e...,2020-12-21 12:32:44,2020-12-21 12:32:44,None
66,85,Escuela Politécnica Nacional,EPN,https://www.epn.edu.ec/once-proyectos-estudian...,La universidad establecida en la capital del e...,2020-12-21 12:11:16,2020-12-21 12:11:16,None
80,82,Escuela Politécnica Nacional,EPN,http://bancodealimentosquito.com/,La universidad establecida en la capital del e...,2020-12-21 11:35:03,2020-12-21 11:35:03,None
81,83,Escuela Politécnica Nacional,EPN,https://www.epn.edu.ec,La universidad establecida en la capital del e...,2020-12-21 11:42:10,2020-12-21 11:42:10,None
82,84,Escuela Politécnica Nacional,EPN,https://www.epn.edu.ec,La universidad establecida en la capital del e...,2020-12-21 12:03:49,2020-12-21 12:03:49,None

In [143]:
appended_data = []
iniciativa = Table('iniciativas', metadata, autoload=True, autoload_with=engine)
results = connection.execute(select([iniciativa])).fetchall()
in_df = pd.DataFrame(results)
in_df.columns = results[0].keys()
org = [86, 85, 83, 84, 82]
for i in org:
    appended_data.append(in_df.loc[in_df['iniciativa_actor_id'] == i])
appended_data = pd.concat(appended_data)
appended_data

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
85,87,1,1,86.0,87,17,2020-12-21 12:32:44,2020-12-21 12:32:44,NaT
84,86,1,1,85.0,86,17,2020-12-21 12:11:16,2020-12-21 12:11:16,NaT
82,84,1,1,83.0,84,17,2020-12-21 11:42:10,2020-12-21 11:42:10,NaT
83,85,1,1,84.0,85,17,2020-12-21 12:03:49,2020-12-21 12:03:49,NaT
81,83,1,1,82.0,83,17,2020-12-21 11:35:03,2020-12-21 11:35:03,NaT

In [144]:
orga = [87, 86, 84, 85, 83]
for i in orga:
    query = update(iniciativa).values(iniciativa_actor_id = 83)
    query = query.where(iniciativa.columns.id == i)
    results = connection.execute(query)
    print(i)
results = connection.execute(select([iniciativa])).fetchall()
change_df = pd.DataFrame(results)
change_df.columns = results[0].keys()
change_df.loc[change_df['iniciativa_actor_id'] == 83]

87
86
84
85
83

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
156,87,1,1,83.0,87,17,2020-12-21 12:32:44,2020-12-21 12:32:44,NaT
157,86,1,1,83.0,86,17,2020-12-21 12:11:16,2020-12-21 12:11:16,NaT
158,84,1,1,83.0,84,17,2020-12-21 11:42:10,2020-12-21 11:42:10,NaT
159,85,1,1,83.0,85,17,2020-12-21 12:03:49,2020-12-21 12:03:49,NaT
160,83,1,1,83.0,83,17,2020-12-21 11:35:03,2020-12-21 11:35:03,NaT

In [146]:
# 312 Grupo Faro
is_org = df['nombre_organizacion'] == 'Grupo faro'
depu = df[is_org]
depu

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
48,49,Grupo faro,None,https://grupofaro.org/,Somos un centro de investigación y acción que ...,2020-12-21 07:40:08,2020-12-21 07:40:08,None
176,180,Grupo faro,None,https://grupofaro.org/,"Somos un centro de investigación y acción , qu...",2021-02-03 20:18:25,2021-02-03 20:18:25,None
296,312,Grupo faro,None,http://www.grupofaro.org/,Grupo FARO es un centro de investigación y acc...,2021-07-03 14:55:50,2021-07-03 14:55:50,None
316,333,Grupo faro,None,https://datatonciudadano.org/,Grupo FARO es un centro de investigación y acc...,2021-07-31 21:43:44,2021-07-31 21:43:44,None
317,334,Grupo faro,None,https://ambatoenmovimiento.com/,Laboratorio Urbano de Movilidad Sostenible imp...,2021-07-31 22:14:01,2021-07-31 22:14:01,None

In [147]:
appended_data = []
org = [49, 180, 312, 333, 334]
for i in org:
    appended_data.append(in_df.loc[in_df['iniciativa_actor_id'] == i])
appended_data = pd.concat(appended_data)
appended_data

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
48,50,1,1,49.0,50,17,2020-12-21 07:40:08,2020-12-21 07:40:08,NaT
178,181,1,1,180.0,181,17,2021-02-03 20:18:25,2021-02-03 20:18:25,NaT
308,334,1,1,312.0,334,83,2021-07-03 14:55:50,2021-07-03 14:55:50,NaT
312,335,1,1,312.0,335,83,2021-07-03 15:15:48,2021-07-03 15:15:48,NaT
343,367,1,1,333.0,367,83,2021-07-31 21:43:44,2021-07-31 21:43:44,NaT
344,368,1,1,334.0,368,83,2021-07-31 22:14:01,2021-07-31 22:14:01,NaT

In [148]:
orga = [50, 181, 334, 335, 367, 368]
for i in orga:
    query = update(iniciativa).values(iniciativa_actor_id = 312)
    query = query.where(iniciativa.columns.id == i)
    results = connection.execute(query)
    print(i)
results = connection.execute(select([iniciativa])).fetchall()
change_df = pd.DataFrame(results)
change_df.columns = results[0].keys()
change_df.loc[change_df['iniciativa_actor_id'] == 312]

50
181
334
335
367
368

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
238,181,1,1,312.0,181,17,2021-02-03 20:18:25,2021-02-03 20:18:25,NaT
319,334,1,1,312.0,334,83,2021-07-03 14:55:50,2021-07-03 14:55:50,NaT
320,335,1,1,312.0,335,83,2021-07-03 15:15:48,2021-07-03 15:15:48,NaT
352,50,1,1,312.0,50,17,2020-12-21 07:40:08,2020-12-21 07:40:08,NaT
353,367,1,1,312.0,367,83,2021-07-31 21:43:44,2021-07-31 21:43:44,NaT
354,368,1,1,312.0,368,83,2021-07-31 22:14:01,2021-07-31 22:14:01,NaT

In [149]:
# 197 Alianza para el Emprendimiento e Innovación
is_org = df['nombre_organizacion'] == 'Alianza para el Emprendimiento e Innovación'
depu = df[is_org]
depu

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
261,277,Alianza para el Emprendimiento e Innovación,AEI,https://reinventaecuador.com/,"Es una red de actores públicos, privados y aca...",2021-06-16 14:47:49,2021-06-16 14:47:49,None
297,197,Alianza para el Emprendimiento e Innovación,AEI,https://www.aei.ec/,"Es una red de actores públicos, privados y aca...",2021-03-05 07:19:16,2021-07-08 18:35:23,None
306,323,Alianza para el Emprendimiento e Innovación,AEI,https://www.aei.ec/,"Es una red de actores públicos, privados y aca...",2021-07-21 18:40:30,2021-07-21 18:40:30,None
312,329,Alianza para el Emprendimiento e Innovación,AEI,https://www.aei.ec/convocatoria-mercado-2021/,"Es una red de actores públicos, privados y aca...",2021-07-30 09:27:15,2021-07-30 09:27:15,None

In [150]:
appended_data = []
org = [277, 197, 323, 329]
for i in org:
    appended_data.append(in_df.loc[in_df['iniciativa_actor_id'] == i])
appended_data = pd.concat(appended_data)
appended_data

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
275,300,1,1,277.0,300,84,2021-06-16 14:47:49,2021-06-16 14:47:49,NaT
195,199,1,1,197.0,199,58,2021-03-05 07:19:16,2021-03-05 07:19:16,NaT
307,332,1,1,197.0,332,83,2021-07-03 13:51:21,2021-07-03 13:51:21,NaT
332,352,1,1,323.0,352,84,2021-07-21 18:40:30,2021-07-21 18:40:30,NaT
339,363,1,1,329.0,363,84,2021-07-30 09:27:15,2021-07-30 09:27:15,NaT

In [151]:
orga = [300, 199, 332, 352, 363]
for i in orga:
    query = update(iniciativa).values(iniciativa_actor_id = 197)
    query = query.where(iniciativa.columns.id == i)
    results = connection.execute(query)
    print(i)
results = connection.execute(select([iniciativa])).fetchall()
change_df = pd.DataFrame(results)
change_df.columns = results[0].keys()
change_df.loc[change_df['iniciativa_actor_id'] == 197]

300
199
332
352
363

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
239,199,1,1,197.0,199,58,2021-03-05 07:19:16,2021-03-05 07:19:16,NaT
319,300,1,1,197.0,300,84,2021-06-16 14:47:49,2021-06-16 14:47:49,NaT
320,332,1,1,197.0,332,83,2021-07-03 13:51:21,2021-07-03 13:51:21,NaT
353,352,1,1,197.0,352,84,2021-07-21 18:40:30,2021-07-21 18:40:30,NaT
354,363,1,1,197.0,363,84,2021-07-30 09:27:15,2021-07-30 09:27:15,NaT

In [152]:
# 315 Alianza para el Emprendimiento e Innovación
is_org = df['nombre_organizacion'] == 'Gobierno Autónomo Descentralizado Municipal de Riobamba'
depu = df[is_org]
depu

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
294,320,Gobierno Autónomo Descentralizado Municipal de...,None,http://www.gadmriobamba.gob.ec/,El Gobierno Autónomo Descentralizado Municipal...,2021-07-16 15:53:07,2021-07-16 15:53:07,None
301,315,Gobierno Autónomo Descentralizado Municipal de...,None,http://www.gadmriobamba.gob.ec/,El Gobierno Autónomo Descentralizado Municipal...,2021-07-10 19:56:13,2021-07-10 19:56:13,None
303,317,Gobierno Autónomo Descentralizado Municipal de...,None,http://www.gadmriobamba.gob.ec/,El Gobierno Autónomo Descentralizado Municipal...,2021-07-11 17:37:08,2021-07-11 17:37:08,None
307,324,Gobierno Autónomo Descentralizado Municipal de...,None,http://www.gadmriobamba.gob.ec/,El Gobierno Autónomo Descentralizado Municipal...,2021-07-22 16:31:51,2021-07-22 16:31:51,None

In [153]:
appended_data = []
org = [320, 315, 317, 324]
for i in org:
    appended_data.append(in_df.loc[in_df['iniciativa_actor_id'] == i])
appended_data = pd.concat(appended_data)
appended_data

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
323,343,1,1,320.0,343,84,2021-07-16 15:53:07,2021-07-16 15:53:07,NaT
315,338,1,1,315.0,338,84,2021-07-10 19:56:13,2021-07-10 19:56:13,NaT
317,340,1,1,317.0,340,84,2021-07-11 17:37:08,2021-07-11 17:37:08,NaT
333,353,1,1,324.0,353,84,2021-07-22 16:31:51,2021-07-22 16:31:51,NaT

In [154]:
orga = [343, 338, 340, 353]
for i in orga:
    query = update(iniciativa).values(iniciativa_actor_id = 315)
    query = query.where(iniciativa.columns.id == i)
    results = connection.execute(query)
    print(i)
results = connection.execute(select([iniciativa])).fetchall()
change_df = pd.DataFrame(results)
change_df.columns = results[0].keys()
change_df.loc[change_df['iniciativa_actor_id'] == 315]

343
338
340
353

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
319,338,1,1,315.0,338,84,2021-07-10 19:56:13,2021-07-10 19:56:13,NaT
320,340,1,1,315.0,340,84,2021-07-11 17:37:08,2021-07-11 17:37:08,NaT
353,343,1,1,315.0,343,84,2021-07-16 15:53:07,2021-07-16 15:53:07,NaT
354,353,1,1,315.0,353,84,2021-07-22 16:31:51,2021-07-22 16:31:51,NaT

In [155]:
# 335 Laboratorio Urbano de Latacunga
is_org = df['nombre_organizacion'] == 'Laboratorio Urbano de Latacunga'
depu = df[is_org]
depu

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
318,335,Laboratorio Urbano de Latacunga,None,https://latacungaresiliente.com/laboratorio-ur...,Laboratorio Urbano de Latacunga implementado p...,2021-07-31 22:31:13,2021-07-31 22:31:13,None
319,336,Laboratorio Urbano de Latacunga,None,https://latacungaresiliente.com/laboratorio-ur...,"El Laboratorio Urbano es un espacio neutro, ap...",2021-07-31 22:43:49,2021-07-31 22:43:49,None
321,338,Laboratorio Urbano de Latacunga,None,https://latacungaresiliente.com/laboratorio-ur...,"El Laboratorio Urbano es un espacio neutro, ap...",2021-07-31 23:04:58,2021-07-31 23:04:58,None

In [156]:
appended_data = []
org = [335, 336, 338]
for i in org:
    appended_data.append(in_df.loc[in_df['iniciativa_actor_id'] == i])
appended_data = pd.concat(appended_data)
appended_data

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
345,369,1,1,335.0,369,83,2021-07-31 22:31:13,2021-07-31 22:31:13,NaT
346,370,1,1,336.0,370,83,2021-07-31 22:43:49,2021-07-31 22:43:49,NaT
348,372,1,1,338.0,372,83,2021-07-31 23:04:58,2021-07-31 23:04:58,NaT

In [157]:
orga = [369, 370, 372]
for i in orga:
    query = update(iniciativa).values(iniciativa_actor_id = 335)
    query = query.where(iniciativa.columns.id == i)
    results = connection.execute(query)
    print(i)
results = connection.execute(select([iniciativa])).fetchall()
change_df = pd.DataFrame(results)
change_df.columns = results[0].keys()
change_df.loc[change_df['iniciativa_actor_id'] == 335]

369
370
372

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
352,369,1,1,335.0,369,83,2021-07-31 22:31:13,2021-07-31 22:31:13,NaT
353,370,1,1,335.0,370,83,2021-07-31 22:43:49,2021-07-31 22:43:49,NaT
354,372,1,1,335.0,372,83,2021-07-31 23:04:58,2021-07-31 23:04:58,NaT

In [158]:
# 252 Laboratorio Urbano de Latacunga
is_org = df['nombre_organizacion'] == 'Pan American Development Foundation - Ecuador'
depu = df[is_org]
depu

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
238,250,Pan American Development Foundation - Ecuador,PADF,https://www.padf.org/ecuador/ecuador-esp/,La Fundación Panamericana para el Desarrollo P...,2021-05-20 18:46:52,2021-05-20 18:46:52,None
239,251,Pan American Development Foundation - Ecuador,PADF,https://www.padf.org/ecuador/ecuador-esp/,La Fundación Panamericana para el Desarrollo P...,2021-05-20 19:16:31,2021-05-20 19:16:31,None
240,252,Pan American Development Foundation - Ecuador,PADF,https://www.padf.org/ecuador,La Fundación Panamericana para el Desarrollo P...,2021-05-20 19:31:43,2021-05-20 19:31:43,None

In [159]:
appended_data = []
org = [250, 251, 252]
for i in org:
    appended_data.append(in_df.loc[in_df['iniciativa_actor_id'] == i])
appended_data = pd.concat(appended_data)
appended_data

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
242,262,1,1,250.0,262,58,2021-05-20 18:46:52,2021-05-20 18:46:52,NaT
243,263,1,1,251.0,263,58,2021-05-20 19:16:31,2021-05-20 19:16:31,NaT
244,264,1,1,252.0,264,58,2021-05-20 19:31:43,2021-05-20 19:31:43,NaT

In [160]:
orga = [262, 263, 264]
for i in orga:
    query = update(iniciativa).values(iniciativa_actor_id = 252)
    query = query.where(iniciativa.columns.id == i)
    results = connection.execute(query)
    print(i)
results = connection.execute(select([iniciativa])).fetchall()
change_df = pd.DataFrame(results)
change_df.columns = results[0].keys()
change_df.loc[change_df['iniciativa_actor_id'] == 252]

262
263
264

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
318,262,1,1,252.0,262,58,2021-05-20 18:46:52,2021-05-20 18:46:52,NaT
319,263,1,1,252.0,263,58,2021-05-20 19:16:31,2021-05-20 19:16:31,NaT
320,264,1,1,252.0,264,58,2021-05-20 19:31:43,2021-05-20 19:31:43,NaT

In [161]:
# 330 Fundación Imaymana 
is_org = df['nombre_organizacion'] == 'Fundación Imaymana'
depu = df[is_org]
depu

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
313,330,Fundación Imaymana,None,https://fundacionimaymana.org/,La Fundación tiene como objetivos promover el ...,2021-07-30 12:09:47,2021-07-30 12:09:47,None
314,331,Fundación Imaymana,None,https://fundacionimaymana.org/,La Fundación tiene como objetivos promover el ...,2021-07-30 12:31:01,2021-07-30 12:31:01,None
315,332,Fundación Imaymana,None,https://fundacionimaymana.org/,La Fundación tiene como objetivos promover el ...,2021-07-30 13:27:54,2021-07-30 13:27:54,None

In [162]:
appended_data = []
org = [330, 331, 332]
for i in org:
    appended_data.append(in_df.loc[in_df['iniciativa_actor_id'] == i])
appended_data = pd.concat(appended_data)
appended_data

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
340,364,1,1,330.0,364,84,2021-07-30 12:09:47,2021-07-30 12:09:47,NaT
341,365,1,1,331.0,365,84,2021-07-30 12:31:01,2021-07-30 12:31:01,NaT
342,366,1,1,332.0,366,84,2021-07-30 13:27:54,2021-07-30 13:27:54,NaT

In [163]:
orga = [364, 365, 366]
for i in orga:
    query = update(iniciativa).values(iniciativa_actor_id = 330)
    query = query.where(iniciativa.columns.id == i)
    results = connection.execute(query)
    print(i)
results = connection.execute(select([iniciativa])).fetchall()
change_df = pd.DataFrame(results)
change_df.columns = results[0].keys()
change_df.loc[change_df['iniciativa_actor_id'] == 330]

364
365
366

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
352,364,1,1,330.0,364,84,2021-07-30 12:09:47,2021-07-30 12:09:47,NaT
353,365,1,1,330.0,365,84,2021-07-30 12:31:01,2021-07-30 12:31:01,NaT
354,366,1,1,330.0,366,84,2021-07-30 13:27:54,2021-07-30 13:27:54,NaT

In [164]:
# 248 Fundación Pachamama
is_org = df['nombre_organizacion'] == 'Fundación Pachamama'
depu = df[is_org]
depu

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
220,248,Fundación Pachamama,None,https://www.pachamama.org.ec/,Fundación Pachamama apoya la protección perman...,2021-05-19 20:27:19,2021-05-19 20:27:19,None
235,246,Fundación Pachamama,None,https://www.pachamama.org.ec/,Fundación Pachamama apoya la protección perman...,2021-05-19 20:24:46,2021-05-19 20:24:46,None
237,249,Fundación Pachamama,None,https://www.pachamama.org.ec/,Fundación Pachamama apoya la protección perman...,2021-05-19 20:29:58,2021-05-19 20:29:58,None

In [165]:
appended_data = []
org = [248, 246, 249]
for i in org:
    appended_data.append(in_df.loc[in_df['iniciativa_actor_id'] == i])
appended_data = pd.concat(appended_data)
appended_data

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
311,260,1,1,248.0,260,58,2021-05-19 20:27:19,2021-07-26 10:21:56,2021-07-26 10:21:56
309,258,1,1,246.0,258,58,2021-05-19 20:24:46,2021-07-26 12:23:33,2021-07-26 12:23:33
310,261,1,1,249.0,261,58,2021-05-19 20:29:58,2021-07-26 10:20:39,2021-07-26 10:20:39

In [166]:
orga = [260, 258, 261]
for i in orga:
    query = update(iniciativa).values(iniciativa_actor_id = 248)
    query = query.where(iniciativa.columns.id == i)
    results = connection.execute(query)
    print(i)
results = connection.execute(select([iniciativa])).fetchall()
change_df = pd.DataFrame(results)
change_df.columns = results[0].keys()
change_df.loc[change_df['iniciativa_actor_id'] == 248]

260
258
261

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
318,260,1,1,248.0,260,58,2021-05-19 20:27:19,2021-07-26 10:21:56,2021-07-26 10:21:56
319,258,1,1,248.0,258,58,2021-05-19 20:24:46,2021-07-26 12:23:33,2021-07-26 12:23:33
354,261,1,1,248.0,261,58,2021-05-19 20:29:58,2021-07-26 10:20:39,2021-07-26 10:20:39

In [167]:
# 92 Escuela Superior Politécnica del Litoral (ESPOL)
is_org = df['nombre_organizacion'] == 'Escuela Superior Politécnica del Litoral (ESPOL)'
depu = df[is_org]
depu

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
88,92,Escuela Superior Politécnica del Litoral (ESPOL),I3LAB,https://www.i3lab.org,I3LABfomenta el ecosistema ecuatoriano de star...,2020-12-21 15:38:42,2020-12-21 15:38:42,None
89,93,Escuela Superior Politécnica del Litoral (ESPOL),I3LAB,https://www.i3lab.org,I3LABfomenta el ecosistema ecuatoriano de star...,2020-12-21 15:44:59,2020-12-21 15:44:59,None
90,94,Escuela Superior Politécnica del Litoral (ESPOL),I3LAB,https://www.i3lab.org,I3LABfomenta el ecosistema ecuatoriano de star...,2020-12-21 15:49:06,2020-12-21 15:49:06,None

In [168]:
appended_data = []
org = [92, 93, 94]
for i in org:
    appended_data.append(in_df.loc[in_df['iniciativa_actor_id'] == i])
appended_data = pd.concat(appended_data)
appended_data

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
91,93,1,1,92.0,93,17,2020-12-21 15:38:42,2020-12-21 15:38:42,NaT
92,94,1,1,93.0,94,17,2020-12-21 15:44:59,2020-12-21 15:44:59,NaT
93,95,1,1,94.0,95,17,2020-12-21 15:49:06,2020-12-21 15:49:06,NaT

In [169]:
orga = [93, 94, 95]
for i in orga:
    query = update(iniciativa).values(iniciativa_actor_id = 92)
    query = query.where(iniciativa.columns.id == i)
    results = connection.execute(query)
    print(i)
results = connection.execute(select([iniciativa])).fetchall()
change_df = pd.DataFrame(results)
change_df.columns = results[0].keys()
change_df.loc[change_df['iniciativa_actor_id'] == 92]

93
94
95

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
157,93,1,1,92.0,93,17,2020-12-21 15:38:42,2020-12-21 15:38:42,NaT
158,94,1,1,92.0,94,17,2020-12-21 15:44:59,2020-12-21 15:44:59,NaT
159,95,1,1,92.0,95,17,2020-12-21 15:49:06,2020-12-21 15:49:06,NaT

In [171]:
# 205 KRADAC
is_org = df['nombre_organizacion'] == 'KRADAC'
depu = df[is_org]
depu

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
199,205,KRADAC,KRADAC,https://kradac.com/,"Es una empresa dedicada a investigar, diseñar,...",2021-03-17 00:23:25,2021-03-17 00:23:25,None
200,206,KRADAC,KRADAC,https://kradac.com/,"Es una empresa dedicada a investigar, diseñar,...",2021-03-17 00:29:34,2021-03-17 00:29:34,None
201,207,KRADAC,KRADAC,https://kradac.com/,"Es una empresa dedicada a investigar, diseñar,...",2021-03-17 00:34:37,2021-03-17 00:34:37,None

In [172]:
appended_data = []
org = [205, 206, 207]
for i in org:
    appended_data.append(in_df.loc[in_df['iniciativa_actor_id'] == i])
appended_data = pd.concat(appended_data)
appended_data

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
198,207,1,1,205.0,207,58,2021-03-17 00:23:25,2021-03-17 00:23:25,NaT
199,208,1,1,206.0,208,58,2021-03-17 00:29:34,2021-03-17 00:29:34,NaT
200,209,1,1,207.0,209,58,2021-03-17 00:34:37,2021-03-17 00:34:37,NaT

In [173]:
orga = [207, 208, 209]
for i in orga:
    query = update(iniciativa).values(iniciativa_actor_id = 205)
    query = query.where(iniciativa.columns.id == i)
    results = connection.execute(query)
    print(i)
results = connection.execute(select([iniciativa])).fetchall()
change_df = pd.DataFrame(results)
change_df.columns = results[0].keys()
change_df.loc[change_df['iniciativa_actor_id'] == 205]

207
208
209

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
237,207,1,1,205.0,207,58,2021-03-17 00:23:25,2021-03-17 00:23:25,NaT
238,208,1,1,205.0,208,58,2021-03-17 00:29:34,2021-03-17 00:29:34,NaT
239,209,1,1,205.0,209,58,2021-03-17 00:34:37,2021-03-17 00:34:37,NaT

In [174]:
# 233 Dialogo Diverso
is_org = df['nombre_organizacion'] == 'Dialogo Diverso'
depu = df[is_org]
depu

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
227,233,Dialogo Diverso,None,http://dialogodiverso.org/,Servimos a la sociedad diversa desde la defens...,2021-05-14 21:52:22,2021-05-14 21:52:22,None
232,238,Dialogo Diverso,None,http://dialogodiverso.org/,Servimos a la sociedad diversa desde la defens...,2021-05-18 16:41:09,2021-05-18 16:41:09,None
233,239,Dialogo Diverso,None,http://dialogodiverso.org/,Servimos a la sociedad diversa desde la defens...,2021-05-18 16:45:03,2021-05-18 16:45:03,None

In [175]:
appended_data = []
org = [233, 238, 239]
for i in org:
    appended_data.append(in_df.loc[in_df['iniciativa_actor_id'] == i])
appended_data = pd.concat(appended_data)
appended_data

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
230,245,1,1,233.0,245,58,2021-05-14 21:52:22,2021-05-14 21:52:22,NaT
235,250,1,1,238.0,250,58,2021-05-18 16:41:09,2021-05-18 16:41:09,NaT
236,251,1,1,239.0,251,58,2021-05-18 16:45:03,2021-05-18 16:45:03,NaT

In [176]:
orga = [245, 250, 251]
for i in orga:
    query = update(iniciativa).values(iniciativa_actor_id = 233)
    query = query.where(iniciativa.columns.id == i)
    results = connection.execute(query)
    print(i)
results = connection.execute(select([iniciativa])).fetchall()
change_df = pd.DataFrame(results)
change_df.columns = results[0].keys()
change_df.loc[change_df['iniciativa_actor_id'] == 233]

245
250
251

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
237,245,1,1,233.0,245,58,2021-05-14 21:52:22,2021-05-14 21:52:22,NaT
238,250,1,1,233.0,250,58,2021-05-18 16:41:09,2021-05-18 16:41:09,NaT
239,251,1,1,233.0,251,58,2021-05-18 16:45:03,2021-05-18 16:45:03,NaT

In [177]:
# 163 MAQUITA
is_org = df['nombre_organizacion'] == 'Maquita'
depu = df[is_org]
depu

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
158,163,Maquita,Maquita,http://www.maquitaagro.com,Somos una organización de economía social y so...,2020-12-22 07:26:25,2020-12-22 07:26:25,None
159,164,Maquita,Maquita,http://maquitaturismo.com,Somos una organización de economía social y so...,2020-12-22 07:28:35,2020-12-22 07:28:35,None
160,165,Maquita,Maquita,https://maquitaproductos.com,Somos una organización de economía social y so...,2020-12-22 07:30:20,2020-12-22 07:30:20,None

In [178]:
appended_data = []
org = [163, 164, 165]
for i in org:
    appended_data.append(in_df.loc[in_df['iniciativa_actor_id'] == i])
appended_data = pd.concat(appended_data)
appended_data

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
161,164,1,1,163.0,164,17,2020-12-22 07:26:25,2020-12-22 07:26:25,NaT
162,165,1,1,164.0,165,17,2020-12-22 07:28:35,2020-12-22 07:28:35,NaT
163,166,1,1,165.0,166,17,2020-12-22 07:30:20,2020-12-22 07:30:20,NaT

In [179]:
orga = [164, 165, 166]
for i in orga:
    query = update(iniciativa).values(iniciativa_actor_id = 163)
    query = query.where(iniciativa.columns.id == i)
    results = connection.execute(query)
    print(i)
results = connection.execute(select([iniciativa])).fetchall()
change_df = pd.DataFrame(results)
change_df.columns = results[0].keys()
change_df.loc[change_df['iniciativa_actor_id'] == 163]

164
165
166

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
237,164,1,1,163.0,164,17,2020-12-22 07:26:25,2020-12-22 07:26:25,NaT
238,165,1,1,163.0,165,17,2020-12-22 07:28:35,2020-12-22 07:28:35,NaT
239,166,1,1,163.0,166,17,2020-12-22 07:30:20,2020-12-22 07:30:20,NaT

In [180]:
# 211 QUID Ecuador
is_org = df['nombre_organizacion'] == 'QUID Ecuador'
depu = df[is_org]
depu

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
205,211,QUID Ecuador,QUID,https://quidecuador.com/,Es una organización sin fines de lucro orienta...,2021-04-17 20:14:45,2021-04-17 20:14:45,None
206,212,QUID Ecuador,QUID,https://quidecuador.com/,Es una organización sin fines de lucro orienta...,2021-04-17 20:21:48,2021-04-17 20:21:48,None
207,213,QUID Ecuador,QUID,https://quidecuador.com/,Es una organización sin fines de lucro orienta...,2021-04-17 20:26:48,2021-04-17 20:26:48,None

In [181]:
appended_data = []
org = [211, 212, 213]
for i in org:
    appended_data.append(in_df.loc[in_df['iniciativa_actor_id'] == i])
appended_data = pd.concat(appended_data)
appended_data

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
204,217,1,1,211.0,217,58,2021-04-17 20:14:45,2021-04-17 20:14:45,NaT
205,218,1,1,212.0,218,58,2021-04-17 20:21:48,2021-04-17 20:21:48,NaT
206,219,1,1,213.0,219,58,2021-04-17 20:26:48,2021-04-17 20:26:48,NaT

In [182]:
orga = [217, 218, 219]
for i in orga:
    query = update(iniciativa).values(iniciativa_actor_id = 211)
    query = query.where(iniciativa.columns.id == i)
    results = connection.execute(query)
    print(i)
results = connection.execute(select([iniciativa])).fetchall()
change_df = pd.DataFrame(results)
change_df.columns = results[0].keys()
change_df.loc[change_df['iniciativa_actor_id'] == 211]

217
218
219

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
237,217,1,1,211.0,217,58,2021-04-17 20:14:45,2021-04-17 20:14:45,NaT
238,218,1,1,211.0,218,58,2021-04-17 20:21:48,2021-04-17 20:21:48,NaT
239,219,1,1,211.0,219,58,2021-04-17 20:26:48,2021-04-17 20:26:48,NaT

In [183]:
# 272 AgroScan
is_org = df['nombre_organizacion'] == 'AgroScan'
depu = df[is_org]
depu

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
257,272,AgroScan,None,https://agroscan.ec/,AgroScan es una empresa ecuatoriana que se ded...,2021-05-24 19:56:58,2021-05-24 19:56:58,None
258,273,AgroScan,None,https://agroscan.ec/,AgroScan es una empresa ecuatoriana que se ded...,2021-05-24 20:37:56,2021-05-24 20:37:56,None
259,274,AgroScan,None,https://agroscan.ec/,AgroScan es una empresa ecuatoriana que se ded...,2021-05-24 20:42:38,2021-05-24 20:42:38,None

In [184]:
appended_data = []
org = [272, 273, 274]
for i in org:
    appended_data.append(in_df.loc[in_df['iniciativa_actor_id'] == i])
appended_data = pd.concat(appended_data)
appended_data

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
271,295,1,1,272.0,295,58,2021-05-24 19:56:58,2021-05-24 19:56:58,NaT
272,296,1,1,273.0,296,58,2021-05-24 20:37:56,2021-05-24 20:37:56,NaT
273,297,1,1,274.0,297,58,2021-05-24 20:42:38,2021-05-24 20:42:38,NaT

In [185]:
orga = [295, 296, 297]
for i in orga:
    query = update(iniciativa).values(iniciativa_actor_id = 272)
    query = query.where(iniciativa.columns.id == i)
    results = connection.execute(query)
    print(i)
results = connection.execute(select([iniciativa])).fetchall()
change_df = pd.DataFrame(results)
change_df.columns = results[0].keys()
change_df.loc[change_df['iniciativa_actor_id'] == 272]

295
296
297

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
317,295,1,1,272.0,295,58,2021-05-24 19:56:58,2021-05-24 19:56:58,NaT
318,296,1,1,272.0,296,58,2021-05-24 20:37:56,2021-05-24 20:37:56,NaT
319,297,1,1,272.0,297,58,2021-05-24 20:42:38,2021-05-24 20:42:38,NaT

In [186]:
# 20 ConQuito
is_org = df['nombre_organizacion'] == 'ConQuito'
depu = df[is_org]
depu

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
17,20,ConQuito,None,http://www.conquito.org.ec/,ConQuito fomenta el desarrollo productivo y so...,2020-12-07 20:40:30,2020-12-07 20:40:30,None
29,32,ConQuito,None,http://www.conquito.org.ec/,ConQuito fomenta el desarrollo productivo y so...,2020-12-19 20:35:41,2020-12-19 20:35:41,None

In [187]:
appended_data = []
org = [20, 32]
for i in org:
    appended_data.append(in_df.loc[in_df['iniciativa_actor_id'] == i])
appended_data = pd.concat(appended_data)
appended_data

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
19,21,1,1,20.0,21,17,2020-12-07 20:40:30,2020-12-07 20:40:30,NaT
31,33,1,1,32.0,33,17,2020-12-19 20:35:41,2020-12-19 20:35:41,NaT

In [188]:
orga = [21, 33]
for i in orga:
    query = update(iniciativa).values(iniciativa_actor_id = 20)
    query = query.where(iniciativa.columns.id == i)
    results = connection.execute(query)
    print(i)
results = connection.execute(select([iniciativa])).fetchall()
change_df = pd.DataFrame(results)
change_df.columns = results[0].keys()
change_df.loc[change_df['iniciativa_actor_id'] == 20]

21
33

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
78,21,1,1,20.0,21,17,2020-12-07 20:40:30,2020-12-07 20:40:30,NaT
79,33,1,1,20.0,33,17,2020-12-19 20:35:41,2020-12-19 20:35:41,NaT

In [189]:
# 89 Deloitte
is_org = df['nombre_organizacion'] == 'Deloitte'
depu = df[is_org]
depu

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
85,89,Deloitte,Deloitte,https://www2.deloitte.com/ec/es.html,Nuestra iniciativa implica en un dia de trabaj...,2020-12-21 13:50:40,2020-12-21 13:50:40,None
110,115,Deloitte,Deloitte,https://www2.deloitte.com/ec/es.html,Nuestra iniciativa implica en un dia de trabaj...,2020-12-21 21:31:44,2020-12-21 21:31:44,None

In [190]:
appended_data = []
org = [89, 115]
for i in org:
    appended_data.append(in_df.loc[in_df['iniciativa_actor_id'] == i])
appended_data = pd.concat(appended_data)
appended_data

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
88,90,1,1,89.0,90,17,2020-12-21 13:50:40,2020-12-21 13:50:40,NaT
114,116,1,1,115.0,116,17,2020-12-21 21:31:44,2020-12-21 21:31:44,NaT

In [191]:
orga = [90, 116]
for i in orga:
    query = update(iniciativa).values(iniciativa_actor_id = 89)
    query = query.where(iniciativa.columns.id == i)
    results = connection.execute(query)
    print(i)
results = connection.execute(select([iniciativa])).fetchall()
change_df = pd.DataFrame(results)
change_df.columns = results[0].keys()
change_df.loc[change_df['iniciativa_actor_id'] == 89]

90
116

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
158,90,1,1,89.0,90,17,2020-12-21 13:50:40,2020-12-21 13:50:40,NaT
159,116,1,1,89.0,116,17,2020-12-21 21:31:44,2020-12-21 21:31:44,NaT

In [192]:
# 187 EMPRENDEC
is_org = df['nombre_organizacion'] == 'EMPRENDEC'
depu = df[is_org]
depu

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
181,187,EMPRENDEC,None,https://www.emprendec.com/,Es un centro de educación en innovación social...,2021-03-02 20:12:45,2021-03-02 20:12:45,None
182,188,EMPRENDEC,None,https://www.emprendec.com/,Es un centro de educación en innovación social...,2021-03-02 20:16:36,2021-03-02 20:16:36,None

In [193]:
appended_data = []
org = [187, 188]
for i in org:
    appended_data.append(in_df.loc[in_df['iniciativa_actor_id'] == i])
appended_data = pd.concat(appended_data)
appended_data

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
185,189,1,1,187.0,189,58,2021-03-02 20:12:45,2021-03-02 20:12:45,NaT
186,190,1,1,188.0,190,58,2021-03-02 20:16:36,2021-03-02 20:16:36,NaT

In [194]:
orga = [189, 190]
for i in orga:
    query = update(iniciativa).values(iniciativa_actor_id = 187)
    query = query.where(iniciativa.columns.id == i)
    results = connection.execute(query)
    print(i)
results = connection.execute(select([iniciativa])).fetchall()
change_df = pd.DataFrame(results)
change_df.columns = results[0].keys()
change_df.loc[change_df['iniciativa_actor_id'] == 187]

189
190

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
238,189,1,1,187.0,189,58,2021-03-02 20:12:45,2021-03-02 20:12:45,NaT
239,190,1,1,187.0,190,58,2021-03-02 20:16:36,2021-03-02 20:16:36,NaT

In [195]:
# 267 BuenTrip Hub
is_org = df['nombre_organizacion'] == 'BuenTrip Hub'
depu = df[is_org]
depu

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
252,267,BuenTrip Hub,None,https://www.buentriphub.com/elprograma,BuenTrip Hub busca transformar el ecosistema d...,2021-05-24 18:48:46,2021-05-24 18:48:46,None
254,269,BuenTrip Hub,None,www.buentriphub.com,BuenTrip Hub busca transformar el ecosistema d...,2021-05-24 19:25:24,2021-05-24 19:25:24,None

In [196]:
appended_data = []
org = [267, 269]
for i in org:
    appended_data.append(in_df.loc[in_df['iniciativa_actor_id'] == i])
appended_data = pd.concat(appended_data)
appended_data

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
265,289,1,1,267.0,289,58,2021-05-24 18:48:46,2021-05-24 18:48:46,NaT
267,291,1,1,269.0,291,58,2021-05-24 19:25:24,2021-05-24 19:25:24,NaT

In [197]:
orga = [289, 291]
for i in orga:
    query = update(iniciativa).values(iniciativa_actor_id = 267)
    query = query.where(iniciativa.columns.id == i)
    results = connection.execute(query)
    print(i)
results = connection.execute(select([iniciativa])).fetchall()
change_df = pd.DataFrame(results)
change_df.columns = results[0].keys()
change_df.loc[change_df['iniciativa_actor_id'] == 267]

289
291

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
318,289,1,1,267.0,289,58,2021-05-24 18:48:46,2021-05-24 18:48:46,NaT
319,291,1,1,267.0,291,58,2021-05-24 19:25:24,2021-05-24 19:25:24,NaT

In [198]:
# 99 Amautha Hub
is_org = df['nombre_organizacion'] == 'Amautha Hub'
depu = df[is_org]
depu

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
79,99,Amautha Hub,Amautha Hub,https://amauthahub.com,Somos una plataforma de emprendimiento que pro...,2020-12-21 18:11:40,2020-12-21 18:11:40,None
95,100,Amautha Hub,Amautha Hub,https://amauthahub.com,Somos una plataforma de emprendimiento que pro...,2020-12-21 18:11:41,2020-12-21 18:11:41,None

In [199]:
appended_data = []
org = [99, 100]
for i in org:
    appended_data.append(in_df.loc[in_df['iniciativa_actor_id'] == i])
appended_data = pd.concat(appended_data)
appended_data

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
98,100,1,1,99.0,100,17,2020-12-21 18:11:40,2020-12-21 18:11:40,NaT
99,101,1,1,100.0,101,17,2020-12-21 18:11:41,2020-12-21 18:11:41,NaT

In [200]:
orga = [100, 101]
for i in orga:
    query = update(iniciativa).values(iniciativa_actor_id = 99)
    query = query.where(iniciativa.columns.id == i)
    results = connection.execute(query)
    print(i)
results = connection.execute(select([iniciativa])).fetchall()
change_df = pd.DataFrame(results)
change_df.columns = results[0].keys()
change_df.loc[change_df['iniciativa_actor_id'] == 99]

100
101

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
158,100,1,1,99.0,100,17,2020-12-21 18:11:40,2020-12-21 18:11:40,NaT
159,101,1,1,99.0,101,17,2020-12-21 18:11:41,2020-12-21 18:11:41,NaT

In [203]:
# 146 Nuo
is_org = df['nombre_organizacion'] == 'NUO'
depu = df[is_org]
depu

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
144,146,NUO,None,http://www.innuovation.com/,Especialistas en soluciones tecnológicas para ...,2020-12-21 23:43:01,2020-12-21 23:43:01,None
145,147,NUO,None,http://www.innuovation.com/,Especialistas en soluciones tecnológicas para ...,2020-12-22 00:00:36,2020-12-22 00:00:36,None

In [204]:
appended_data = []
org = [146, 147]
for i in org:
    appended_data.append(in_df.loc[in_df['iniciativa_actor_id'] == i])
appended_data = pd.concat(appended_data)
appended_data

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
144,147,1,1,146.0,147,17,2020-12-21 23:43:01,2020-12-21 23:43:01,NaT
145,148,1,1,147.0,148,17,2020-12-22 00:00:36,2020-12-22 00:00:36,NaT

In [205]:
orga = [147, 148]
for i in orga:
    query = update(iniciativa).values(iniciativa_actor_id = 146)
    query = query.where(iniciativa.columns.id == i)
    results = connection.execute(query)
    print(i)
results = connection.execute(select([iniciativa])).fetchall()
change_df = pd.DataFrame(results)
change_df.columns = results[0].keys()
change_df.loc[change_df['iniciativa_actor_id'] == 146]

147
148

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
158,147,1,1,146.0,147,17,2020-12-21 23:43:01,2020-12-21 23:43:01,NaT
159,148,1,1,146.0,148,17,2020-12-22 00:00:36,2020-12-22 00:00:36,NaT

In [206]:
# 339 Ikiam
is_org = df['nombre_organizacion'] == 'Ikiam'
depu = df[is_org]
depu

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
322,339,Ikiam,None,https://www.ikiam.edu.ec/index.html,La Universidad Regional Amazónica Ikiam es una...,2021-08-01 12:49:47,2021-08-01 12:49:47,None
323,340,Ikiam,None,https://www.ikiam.edu.ec/index.html,La Universidad Regional Amazónica Ikiam es una...,2021-08-01 13:02:36,2021-08-01 13:03:25,None

In [207]:
appended_data = []
org = [339, 340]
for i in org:
    appended_data.append(in_df.loc[in_df['iniciativa_actor_id'] == i])
appended_data = pd.concat(appended_data)
appended_data

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
349,373,1,1,339.0,373,83,2021-08-01 12:49:47,2021-08-01 12:49:47,NaT
350,374,1,1,340.0,374,83,2021-08-01 13:02:36,2021-08-01 13:02:36,NaT

In [208]:
orga = [373, 374]
for i in orga:
    query = update(iniciativa).values(iniciativa_actor_id = 339)
    query = query.where(iniciativa.columns.id == i)
    results = connection.execute(query)
    print(i)
results = connection.execute(select([iniciativa])).fetchall()
change_df = pd.DataFrame(results)
change_df.columns = results[0].keys()
change_df.loc[change_df['iniciativa_actor_id'] == 339]

373
374

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
353,373,1,1,339.0,373,83,2021-08-01 12:49:47,2021-08-01 12:49:47,NaT
354,374,1,1,339.0,374,83,2021-08-01 13:02:36,2021-08-01 13:02:36,NaT