In [99]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy import select
from sqlalchemy import MetaData
from sqlalchemy import update
from sqlalchemy import Table, Column, String
import pandas as pd

pd.get_option("display.max_columns")
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [100]:
DBUSER = 'postgres'
DBPASS = 'ivan'
DBHOST = 'localhost'
DBPORT = '5432'
DBNAME = 'thinkia_updated'

In [101]:
engine = create_engine('postgresql+psycopg2://{user}:{passwd}@{host}:{port}/{db}'.format(user=DBUSER, passwd=DBPASS, host=DBHOST, port=DBPORT, db=DBNAME))
connection = engine.connect()

In [102]:

Session = sessionmaker(engine)
session = Session()

In [103]:
# Create a MetaData instance
metadata = MetaData()
metadata.reflect(bind=engine)
for table in metadata.sorted_tables:
    print(table)

# film_table = Table('users', metadata, Column('name'))

abreviatura
contacto
estado_registro
failed_jobs
iniciativa_actor
iniciativa_informacion
iniciativa_origen
material_categorias
material_tipodocumentos
migrations
nivel_solucion
objetivosdesarrollo
ods_categorias
password_resets
provincia
roles
sector_solucion
tipo_convocatoria
tipo_institucion
tipo_poblacion
tipo_propuestas
canton
tipo_sector
parroquia
perfil
tipo_subsector
users
convocatorias
eventos
fondos
iniciativas
materialesaprendizaje
role_user
articulos
convocatorias_ods
convocatorias_sectores
convocatorias_subsectores
iniciativa_contacto
iniciativa_institucion
iniciativa_ods
iniciativa_poblacion
iniciativa_ubicacion
material_comentarios
problemas
soluciones
solucion_comentarios
solucion_mejorada
solucion_observaciones
solucion_rating
soluciontipoinnovas

In [105]:
emp = Table('iniciativa_actor', metadata, autoload=True, autoload_with=engine)
results = connection.execute(select([emp])).fetchall()
df = pd.DataFrame(results)
df.columns = results[0].keys()
df.head(5)

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
0,1,NANAY,NANAY,https://nanay.app/Home/About,Creamos canales de comunicación entre los dife...,2020-12-05 10:21:38,2020-12-05 10:21:38,None
1,3,FUNDAPI,None,https://www.fundapi.org/,Somos una organización ecuatoriana sin fines d...,2020-12-05 11:32:57,2020-12-05 11:32:57,None
2,4,GAD CARCHI,CARCHI,https://carchi.gob.ec/gob_electronico/,Administrar de forma eficiente los recursos te...,2020-12-05 11:39:34,2020-12-05 11:39:34,None
3,5,GAD PORTOVIEJO,None,https://online.portoviejo.gob.ec/,El GAD de Portoviejo ayuda a esta bella ciudad...,2020-12-05 11:50:32,2020-12-05 11:50:32,None
4,7,Kruger Labs,None,https://www.krugerlabs.com/,KrugerLabs es la aceleradora de negocios digit...,2020-12-07 14:51:31,2020-12-07 14:51:31,None

In [106]:
# Select duplicate rows except first occurrence based on all columns
duplicateRowsDF = df[df.duplicated(['nombre_organizacion'])]
duplicateRowsDF.head(5)

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
29,32,ConQuito,None,http://www.conquito.org.ec/,ConQuito fomenta el desarrollo productivo y so...,2020-12-19 20:35:41,2020-12-19 20:35:41,None
37,38,Universidad San Fransisco de Quito,USFQ,http://www.usfq.edu.ec/Paginas/Inicio.aspx,"La Universidad San Francisco de Quito, es una ...",2020-12-20 14:56:54,2020-12-20 14:56:54,None
38,39,Fundación Telefónica,None,https://fundaciontelefonica.com.ec/,"Entre otras labores, formula recomendaciones a...",2020-12-20 20:20:36,2020-12-20 20:20:36,None
41,42,Al Borde,None,https://www.albordearq.com/,Al Borde es un modo de vida... inicia sin quer...,2020-12-20 21:03:55,2020-12-20 21:03:55,None
45,46,Corporación para el Desarrollo del Emprendimie...,CODEIS,https://www.somoscodeis.org/,CODEIS es una empresa social que empodera y pr...,2020-12-20 21:39:19,2020-12-20 21:39:19,None

In [107]:
duplicateRows = df.groupby('nombre_organizacion').nombre_organizacion.count()
duplicateRows.sort_values(ascending=False).head(20)
# duplicateRows.shape

nombre_organizacion
CORPEI                                                     5
Fundación Heifer Ecuador                                   5
Escuela Politécnica Nacional                               5
Grupo faro                                                 5
Alianza para el Emprendimiento e Innovación                4
Gobierno Autónomo Descentralizado Municipal de Riobamba    4
Laboratorio Urbano de Latacunga                            3
KRADAC                                                     3
Fundación Educativa Rada                                   3
Fundación Imaymana                                         3
Maquita                                                    3
Fundación Alas de Colibrí                                  3
QUID Ecuador                                               3
Fundación Esquel                                           3
Pan American Development Foundation - Ecuador              3
Fundación Pachamama                                        3
Escuela Superior Politécnica del Litoral (ESPOL)           3
Dialogo Diverso                                            3
AgroScan                                                   3
NEO - Ciencia, Tecnología, Sostenibilidad                  3
Name: nombre_organizacion, dtype: int64

In [108]:
is_org = df['nombre_organizacion'] == 'Fundación Heifer Ecuador'
depu = df[is_org]
depu

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
191,199,Fundación Heifer Ecuador,None,https://www.heifer-ecuador.org/,Mediante la labor comunitaria por erradicar el...,2021-03-05 07:40:28,2021-03-05 07:40:28,None
192,200,Fundación Heifer Ecuador,None,https://www.heifer-ecuador.org/,Mediante la labor comunitaria por erradicar el...,2021-03-05 07:48:37,2021-03-05 07:48:37,None
193,201,Fundación Heifer Ecuador,None,https://www.heifer-ecuador.org/,Mediante la labor comunitaria por erradicar el...,2021-03-05 07:52:32,2021-03-05 07:52:32,None
194,202,Fundación Heifer Ecuador,None,https://www.heifer-ecuador.org/,Mediante la labor comunitaria por erradicar el...,2021-03-05 07:55:20,2021-03-05 07:55:20,None
195,203,Fundación Heifer Ecuador,None,https://www.heifer-ecuador.org/,Mediante la labor comunitaria por erradicar el...,2021-03-05 07:59:27,2021-03-05 07:59:27,None

In [132]:
# 199 Fundación Heifer Ecuador
appended_data = []
iniciativa = Table('iniciativas', metadata, autoload=True, autoload_with=engine)
results = connection.execute(select([iniciativa])).fetchall()
in_df = pd.DataFrame(results)
in_df.columns = results[0].keys()
org = [199, 200, 201, 202, 203]
for i in org:
    appended_data.append(in_df.loc[in_df['iniciativa_actor_id'] == i])
appended_data = pd.concat(appended_data)
appended_data

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
198,201,1,1,199.0,201,58,2021-03-05 07:40:28,2021-03-05 07:40:28,NaT
199,202,1,1,200.0,202,58,2021-03-05 07:48:37,2021-03-05 07:48:37,NaT
200,203,1,1,201.0,203,58,2021-03-05 07:52:32,2021-03-05 07:52:32,NaT
201,204,1,1,202.0,204,58,2021-03-05 07:55:20,2021-03-05 07:55:20,NaT
202,205,1,1,203.0,205,58,2021-03-05 07:59:27,2021-03-05 07:59:27,NaT

In [135]:
for i in range (201, 206):
    query = update(iniciativa).values(iniciativa_actor_id = 199)
    query = query.where(iniciativa.columns.id == i)
    results = connection.execute(query)
    print(i)
results = connection.execute(select([iniciativa])).fetchall()
change_df = pd.DataFrame(results)
change_df.columns = results[0].keys()
change_df.loc[change_df['iniciativa_actor_id'] == 199]

201
202
203
204
205

,id,estado_registro_id,iniciativa_origen_id,iniciativa_actor_id,iniciativa_informacion_id,user_id,created_at,updated_at,deleted_at
239,203,1,1,199.0,203,58,2021-03-05 07:52:32,2021-03-05 07:52:32,NaT
240,205,1,1,199.0,205,58,2021-03-05 07:59:27,2021-03-05 07:59:27,NaT
241,202,1,1,199.0,202,58,2021-03-05 07:48:37,2021-03-05 07:48:37,NaT
353,201,1,1,199.0,201,58,2021-03-05 07:40:28,2021-03-05 07:40:28,NaT
354,204,1,1,199.0,204,58,2021-03-05 07:55:20,2021-03-05 07:55:20,NaT

In [136]:
# 141 CORPEI  
is_org = df['nombre_organizacion'] == 'CORPEI'
depu = df[is_org]
depu

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
139,141,CORPEI,None,https://corpei.org/,"CORPEI es una agencia privada, sin fines de lu...",2020-12-21 23:30:20,2020-12-21 23:30:20,None
243,258,CORPEI,None,https://corpei.org/la-institucion/,"CORPEI es una agencia privada, sin fines de lu...",2021-05-21 16:24:14,2021-05-21 16:24:14,None
245,260,CORPEI,None,https://corpei.org/category/latest-news/notici...,"CORPEI es una agencia privada, sin fines de lu...",2021-05-21 16:35:15,2021-05-21 16:35:15,None
246,261,CORPEI,None,https://corpei.org/la-institucion/,"CORPEI es una agencia privada, sin fines de lu...",2021-05-21 16:46:06,2021-05-21 16:46:06,None
247,262,CORPEI,None,https://corpei.org/,"CORPEI es una agencia privada, sin fines de lu...",2021-05-21 17:00:18,2021-05-21 17:00:18,None

In [ ]:
# 141 CORPEI
appended_data = []
iniciativa = Table('iniciativas', metadata, autoload=True, autoload_with=engine)
results = connection.execute(select([iniciativa])).fetchall()
in_df = pd.DataFrame(results)
in_df.columns = results[0].keys()
org = [199, 200, 201, 202, 203]
for i in org:
    appended_data.append(in_df.loc[in_df['iniciativa_actor_id'] == i])
appended_data = pd.concat(appended_data)
appended_data