In [10]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy import select
from sqlalchemy import MetaData
from sqlalchemy import update, delete
from sqlalchemy import Table, Column, String
import pandas as pd

pd.get_option("display.max_columns")
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [2]:
DBUSER = 'postgres'
DBPASS = 'ivan'
DBHOST = 'localhost'
DBPORT = '5432'
DBNAME = 'thinkia_updated'

In [3]:
engine = create_engine('postgresql+psycopg2://{user}:{passwd}@{host}:{port}/{db}'.format(user=DBUSER, passwd=DBPASS, host=DBHOST, port=DBPORT, db=DBNAME))
connection = engine.connect()

In [4]:
Session = sessionmaker(engine)
session = Session()

In [5]:
# Create a MetaData instance
metadata = MetaData()
metadata.reflect(bind=engine)

In [6]:
emp = Table('iniciativa_actor', metadata, autoload=True, autoload_with=engine)
results = connection.execute(select([emp])).fetchall()
actors_df = pd.DataFrame(results)
actors_df.columns = results[0].keys()
actors_df.head(5)

,id,nombre_organizacion,siglas,sitio_web,enfoque,created_at,updated_at,deleted_at
0,1,NANAY,NANAY,https://nanay.app/Home/About,Creamos canales de comunicaci贸n entre los dife...,2020-12-05 10:21:38,2020-12-05 10:21:38,None
1,3,FUNDAPI,None,https://www.fundapi.org/,Somos una organizaci贸n ecuatoriana sin fines d...,2020-12-05 11:32:57,2020-12-05 11:32:57,None
2,4,GAD CARCHI,CARCHI,https://carchi.gob.ec/gob_electronico/,Administrar de forma eficiente los recursos te...,2020-12-05 11:39:34,2020-12-05 11:39:34,None
3,5,GAD PORTOVIEJO,None,https://online.portoviejo.gob.ec/,El GAD de Portoviejo ayuda a esta bella ciudad...,2020-12-05 11:50:32,2020-12-05 11:50:32,None
4,7,Kruger Labs,None,https://www.krugerlabs.com/,KrugerLabs es la aceleradora de negocios digit...,2020-12-07 14:51:31,2020-12-07 14:51:31,None

In [8]:
actors_df.shape

(324, 8)

In [12]:
# Prueba de eliminacion de repetidos
query = delete(emp)
query = query.where(emp.columns.id == 326)
results = connection.execute(query)

In [13]:
results = connection.execute(select([emp])).fetchall()
df = pd.DataFrame(results)
df.columns = results[0].keys()
df.shape

(323, 8)

In [17]:
# Eliminacion de las organizaciones no utilizadas
orga = [46, 69, 42, 340, 270, 147, 296, 100, 269, 38, 63, 32, 115, 228, 39, 177, 51, 188, 103, 224, 195, 106, 273, 212, 164, 191, 300, 255, 59, 238, 206, 93, 246, 331, 250, 336, 320, 277, 49, 200, 86, 258]
query = delete(emp)

for i in orga:
    query = delete(emp)
    query = query.where(emp.columns.id == i)
    results = connection.execute(query)
    print(i)

results = connection.execute(select([emp])).fetchall()
df = pd.DataFrame(results)
df.columns = results[0].keys()
df.shape

46
69
42
340
270
147
296
100
269
38
63
32
115
228
39
177
51
188
103
224
195
106
273
212
164
191
300
255
59
238
206
93
246
331
250
336
320
277
49
200
86
258

(281, 8)

In [18]:
emp = Table('iniciativa_actor', metadata, autoload=True, autoload_with=engine)
results = connection.execute(select([emp])).fetchall()
actors_df = pd.DataFrame(results)
actors_df.columns = results[0].keys()
actors_df.shape

(281, 8)

In [19]:
# Eliminacion de las organizaciones no utilizadas
orga = [274, 213, 165, 189, 309, 256, 116, 239, 207, 94, 249, 332, 251, 338, 317, 323, 180, 201, 85, 260]
query = delete(emp)

for i in orga:
    query = delete(emp)
    query = query.where(emp.columns.id == i)
    results = connection.execute(query)
    print(i)

results = connection.execute(select([emp])).fetchall()
df = pd.DataFrame(results)
df.columns = results[0].keys()
df.shape

274
213
165
189
309
256
116
239
207
94
249
332
251
338
317
323
180
201
85
260

(261, 8)

In [ ]:
# Eliminacion de las organizaciones no utilizadas
orga = [324, 329, 333, 202, 84, 261]
query = delete(emp)

for i in orga:
    query = delete(emp)
    query = query.where(emp.columns.id == i)
    results = connection.execute(query)
    print(i)

results = connection.execute(select([emp])).fetchall()
df = pd.DataFrame(results)
df.columns = results[0].keys()
df.shape